#react {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.perfil {
  width: 100%;
  height: 500px;
  background-image: radial-gradient(transparent, rgb(148, 148, 148)), url('./imgs/perfil.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
}

.nombre {
  font-family: 'Courier New', Courier, monospace;
  color: rgb(255, 255, 255);
}

.xp {
  background-color: rgb(223, 210, 195);
  margin: 0;
  padding: 10px;
  border-bottom: black 1px solid;
}

.labs {
  width: 100%;
}

.labs>div {
  height: 200px;
}

.labs>div:nth-child(odd){
  display: flex;
  background-color: rgb(202, 183, 159);
}
.labs>div:nth-child(even){
  display: flex;
  flex-direction: row-reverse;
  background-color: rgb(223, 210, 195);
}

.labs>div>div {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.labs>div>div:first-child {
  width: 65%;
}
.labs>div>div:last-child {
  width: 30%;
}

img {
  max-width: 100%;
  object-fit: contain;
  border-radius: 20px;
}

.descrip {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  text-align: center;
}